<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0,maximum-scale=1,minimum-scale=1">
    <title>Contacto</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d9430f8f38.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="contenedor">
            <h1 id="informacion">Información</h1>
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar"><i class="fas fa-compass"></i></label>
            <nav class="menu">
                <span><i class="fas fa-address-card"><a href="/Conoceme">Sobre mí</a></i></span>
                <span><i class="fas fa-brain"><a href="/Experiencia">Experiencia</a></i></span>
                <span><i class="fas fa-graduation-cap"><a href="/Educacion">Educación</a></i></span>
                <span><i class="fas fa-language"><a href="/Idiomas">Idiomas</a></i></span>
                <span><i class="far fa-chart-bar"><a href="/Aptitudes">Aptitudes</a></i></span>
                <span><i class="far fa-address-book"><a href="/Contacto">Contacto</a></i></span>
            </nav>
        </div>
    </header>

    <main>
        <section id="descripción">
            <div class="contenedor">
                <h1 id="titleUno">Contacto</h1>
                <div class="contacto">

                    <p>Nombre: Juan Sebastian</p><br>

                    <p>Apellido: Velasquez Prada</p><br>

                    <p>Correo: Juansebastian2304@outlook.com</p><br>

                    <p>Celular: 3132401091</p><br>

                </div>
            </div>

            <br>
        </section>

    </main>

    <footer>
        <div id="finalPrimerPag">
            <span><a href="https://www.youtube.com/channel/UCERSu6yexqDaouEv5ebpLCw?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a></span>
            <span><a href=""><i class="fab fa-facebook"></i></a></span>
            <span><a href="https://github.com/panesio" target="_blank"><i class="fab fa-github"></i></a></span>
            <span><a href="https://www.instagram.com/juan_sebastian_23o/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></span>
        </div>
    </footer>

</body>

</html>