<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0,maximum-scale=1,minimum-scale=1">
    <title>Principal</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d9430f8f38.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <section>
            <div id="info">
                <h1 id="huno">Hola , soy Juan Sebastian Velasquez</h1>
                <h2 id="hdos">Soy desarrollador web</h2>
                <br>

                <div>
                    <img id="foto" src="/img/foto-min.jpeg">
                    <br>
                    <br>
                    <button id="btnMeetMe"><a href="/Conoceme"> Conoceme! </a></button>
                </div>
            </div>

            <br>
        </section>
    </main>


    <footer>
        <div id="finalPrimerPag">
            <span><a href="https://www.youtube.com/channel/UCERSu6yexqDaouEv5ebpLCw?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a></span>
            <span><a href=""><i class="fab fa-facebook"></i></a></span>
            <span><a href="https://github.com/panesio" target="_blank"><i class="fab fa-github"></i></a></span>
            <span><a href="https://www.instagram.com/juan_sebastian_23o/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></span>
        </div>
    </footer>

</body>

</html>