<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0,maximum-scale=1,minimum-scale=1">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d9430f8f38.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="contenedor">
            <h1 id="informacion">Información</h1>
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar"><i class="fas fa-compass"></i></label>
            <nav class="menu">
                <span><i class="fas fa-address-card"><a href="/Conoceme">Sobre mí</a></i></span>
                <span><i class="fas fa-brain"><a href="/Experiencia">Experiencia</a></i></span>
                <span><i class="fas fa-graduation-cap"><a href="/Educacion">Educación</a></i></span>
                <span><i class="fas fa-language"><a href="/Idiomas">Idiomas</a></i></span>
                <span><i class="far fa-chart-bar"><a href="/Aptitudes">Aptitudes</a></i></span>
                <span><i class="far fa-address-book"><a href="/Contacto">Contacto</a></i></span>
            </nav>
        </div>
    </header>

    <main>
        <section id="descripción">
            <div class="contenedor">
                <h1 id="titleUno">Acerca de mí</h1>
                <p>Soy Juan Sebastian, este es mi primer año como programador. Me gusta afrontar nuevos retos considerando que en el trayecto puedo aprender de los demás y que estos puedan aprender de mí.</p>
                <br>
                <p>En general me considero una persona responsable, un poco distraído pero siempre trato de poner un gran esfuerzo para cumplir con mis metas; siempre espero apoyo mutuo e el equipo, con la posibilidad de aprender de los demás y que ellos
                    puedan aprender de mí.</p>

                <br>
                <p>Me gusta aprender nuevas cosas y apoyar a mi equipo de trabajo; pero todo lo que se trata de estilos y maquetación de páginas web es mi fuerte, ya que siempre he tenido la tendencia a conocer y entender herramientas de audiovisuales como
                    Photoshop y Sony Vegas. Comienzo a ascender en este mundo de la programación y se que tengo mucho que dar.</p>

            </div>

            <br>
        </section>

    </main>

    <section>

        <div class="contenedor">
            <article>
                <img id="up" src="/img/ascendiendo.jpg">
            </article>
        </div>
    </section>

    <footer>
        <div id="finalPrimerPag">
            <span><a href="https://www.youtube.com/channel/UCERSu6yexqDaouEv5ebpLCw?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a></span>
            <span><a href=""><i class="fab fa-facebook"></i></a></span>
            <span><a href="https://github.com/panesio" target="_blank"><i class="fab fa-github"></i></a></span>
            <span><a href="https://www.instagram.com/juan_sebastian_23o/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></span>
        </div>
    </footer>


</body>

</html>